$color-principal:linear-gradient(160deg, rgb(243, 243, 247) 0%, rgb(120, 133, 245) 50%, rgb(3, 92, 245) 100%);
$color-secundario: linear-gradient(160deg, rgb(101, 235, 240) 15%, rgb(255, 255, 255) 50%, rgb(101, 235, 240) 100%);
$color-tarjetas:linear-gradient(160deg, rgb(243, 243, 247) 0%, rgb(120, 133, 245) 50%, rgb(3, 92, 245) 100%);