.cuerpo{
    background: $color-secundario;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 30px;
    .quienes{
        text-align: center;
        font-size: 2.5rem;
        color: black;
        text-decoration-line: underline;
    }
    .texto_index{
        text-align: center;
    }
}

.talles{
    text-align: center;
    font-size: 2.5rem;
    color: black;
    text-decoration-line: underline;
    
}
.tremeras{
    width: 100%;
    height: 1000px;
    margin-bottom: 30px;
    display: block;
}
.tpantalones{
    width: 100%;
    height: 1000px;
    margin-bottom:30px;
    display: block;
}