.encabezado{
    font-size: 1rem;
    background: $color-principal;
    font-size:x-large;
    .dropdown-menu{
        background:rgb(71, 117, 243);
    }
    .logo{
        width: 300px;
    }
    .logo__texto{
        text-align: center;
        font-size:xxx-large;
    }
}

